// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
    height: 100%;
}

body {
    height: 100%;
}

.text-dark-shadow{
    text-shadow: #303030 1px 0 10px;
}
.text-light-shadow{
    text-shadow: #cfcfcf 1px 0 10px;
}
